################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tubes2_SiPalingKeliling
/.vs/slnx.sqlite
